<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ app.request.BaseUrl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.BaseUrl }}/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <title>Gitosis Admin</title>
</head>
<body>

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="#">n98-gitosis-admin</a>
        <ul class="nav">
            <li>
                <a href="{{ url('homepage') }}"><i class="icon-home icon-white"></i> Home</a>
            </li>
            <li>
                <a href="{{ url('repository_list') }}"><i class="icon-book icon-white"></i> Repositories</a>
            </li>
            <li>
                <a href="{{ url('group_list') }}"><i class="icon-list-alt icon-white"></i> Groups</a>
            </li>
            <li>
                <a href="{{ url('user_list') }}"><i class="icon-user icon-white"></i> Users</a>
            </li>
        </ul>
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Actions
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url('gitosis_persist') }}"><i class="icon-hdd"></i> Persist</a></li>
                <li><a href="{{ url('gitosis_revert') }}"><i class="icon-backward"></i> Revert</a></li>
            </ul>
        </div>
    </div>
</div>

{% block flash %}
    {% if flash is defined %}
        <div class="alert alert-block alert-{{ flash.type }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>{{ flash.short }}</strong> {{ flash.ext }}</p>
        </div>
    {% endif %}
{% endblock flash %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ app.request.BaseUrl }}/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>