<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ app.request.BaseUrl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.BaseUrl }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <title>Gitosis Admin</title>
</head>
<body>

{% include "_navigation.twig" %}

{% block flash %}
    {% if flash is defined %}
        <div class="alert alert-block alert-{{ flash.type }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>{{ flash.short }}</strong> {{ flash.ext }}</p>
        </div>
    {% endif %}
{% endblock flash %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ app.request.BaseUrl }}/bootstrap/js/bootstrap.min.js"></script>

{% block before_body %}
{% endblock %}

</body>
</html>