{% extends "layout_page.twig" %}

{% block content %}
    <h2>Repository: {{ repository.name }}</h2>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Owner:</th>
                <td>{% if repository.owner %}{{ repository.owner }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <th>Gitweb:</th>
                <td>{% if repository.gitweb %}<span class="badge badge-success">yes</span>{% else %}<span class="label">no</span>{% endif %}</td>
            </tr>
            <tr>
                <th>Daemon:</th>
                <td>{% if repository.daemon %}<span class="badge badge-success">yes</span>{% else %}<span class="label">no</span>{% endif %}</td>
            </tr>
            <tr>
                <th>Clone Command:</th>
                <td>git clone {{ app.config.gitosisSshUser }}@{{ app.config.gitosisSshHost }}:{{ repository.name }}.git</td>
            </tr>
        </tbody>
    </table>

    <div class="well">
        <h4>Access</h4>
        <ul class="nav nav-list">
            {% if groups_write %}
                <li class="nav-header">Writable Groups</li>
                {% for group in groups_write %}
                    <li><a href="#"><i class="icon-list-alt"></i> {{ group.name }}</a></li>
                {% endfor %}
            {% endif %}

            {% if groups_readonly %}
                <li class="nav-header">Readonly Groups</li>
                {% for group in groups_readonly %}
                <li><a href="#"><i class="icon-list-alt"></i> {{ group.name }}</a></li>
                {% endfor %}
            {% endif %}

            {% if users_write %}
                <li class="nav-header">Write Users</li>
                {% for user in users_write %}
                <li><a href="{{ url('user_view', {user:user}) }}"><i class="icon-user"></i> {{ user }}</a></li>
                {% endfor %}
            {% endif %}

            {% if users_readonly %}
                <li class="nav-header">Readonly Users</li>
                {% for user in users_readonly %}
                <li><a href="#"><i class="icon-user"></i> {{ user }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

{% endblock %}