{% extends "layout_page.twig" %}

{% block content %}
    <h2>{{ 'Repositories'|trans }}</h2>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-toolbar" href="{{ url('repository_create') }}">
                <i class="icon-plus-sign"></i>
                {{ 'Create Repository'|trans }}
            </a>
        </div>
    </div>

    <ul class="nav nav-tabs nav-stacked">
        {% for repo in repositories %}
        <li>
            <a href="{{ url('repository_view', { repo: repo.name }) }}"><i class="icon-black icon-book"></i> {{ repo.name }}</a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}