{% extends "layout_page.twig" %}

{% block content %}
    <h2>{{ 'Users'|trans }}</h2>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-toolbar" href="{{ url('user_create') }}">
                <i class="icon-plus-sign"></i>
                {{ 'Create User'|trans }}
            </a>
        </div>
    </div>

    {% include "_filter_form.twig" %}

    <ul id="user_list" class="nav nav-tabs nav-stacked filter-list">
    {% for user in users %}
        <li>
            <a href="{{ url('user_view', {user:user}) }}">
                <i class="icon-black icon-user"></i>
                <span class="{% if user|slice(0, 4) == 'root' %}label label-important{% endif %}">{{ user }}</span>
                {% if user not in ssh_key_exists %}
                    <span class="label label-important">
                        {{ 'Public Key is missing'|trans }}
                    </span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}

{% block before_body %}
    {% include "_filter_form_js.twig" %}
{% endblock %}