{% extends "layout_page.twig" %}

{% block content %}
    <h2>{{ 'User'|trans }}: {{ user }}</h2>

    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <a href="#delete_user_dialog" class="btn" role="button" data-toggle="modal"><i class="icon-trash"></i> {{ 'Delete'|trans }}</a>
            <a href="{{ url('user_edit', { user: user }) }}" class="btn"><i class="icon-edit"></i> {{ 'Edit'|trans }}</a>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3>{{ 'Groups'|trans }}</h3>
            <ul class="nav nav-tabs nav-stacked">
                {% for group in groups_of_user %}
                    <li>
                        <a href="{{ url('group_view', { group: group }) }}"><i class="icon-black icon-list-alt"></i> {{ group }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Delete user dialog -->
    <div id="delete_user_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteUserDialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="deleteUserDialog">{{ 'Delete User'|trans }}</h3>
        </div>
        <div class="modal-body">
            <p>Do you really want to delete the user: <strong>{{ user }}</strong>?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'Close'|trans }}</button>
            <a href="{{ url('user_delete', { user: user}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a>
        </div>
    </div>

{% endblock %}